h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.mam {
	margin-bottom: 0 !important;
}

footer p {
	color: #999999;
	font-size: smaller;
}

header h1 {
	font-family: $font-family-sans-serif;
	margin-top: 1.25rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.page-image {
	height: 20em;
	background-size: cover;
	background-position: center;
	margin-bottom: 1em;
}

.page-image.people {
    background-image: url(/img/page-image-people.jpg);
}

.page-image.politics {
    background-image: url(/img/page-image-politics.jpg);
}

.page-image.game {
    background-image: url(/img/page-image-game.jpg);
}
